  <ion-header>
    <ion-toolbar >
      <ion-buttons slot="start">
        <ion-menu-button><ion-icon name="person-circle-outline"></ion-icon></ion-menu-button>
      </ion-buttons>
      <!-- <ion-title>Inbox</ion-title> -->
      <ion-buttons class="center">
        <ion-button class="bluecolor width100">
          <ion-icon name="logo-twitter"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon name="sparkles-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <div>
    <ion-card class="card">
      <ion-row>
        <ion-col size="2">
          <ion-avatar>
            <ion-icon class="card-image" name="person"></ion-icon>
          </ion-avatar>
        </ion-col>
        <ion-col size="10">
          <ion-item>
            <ion-label class="width70">
              <span class="nowrap">
              <div class="bold">
                Rohit 
              </div>
              @rohitsharma
              </span>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
</ion-content>
