  <ion-header>
    <ion-toolbar >
      <ion-buttons slot="start">
        <ion-menu-button><ion-icon size="large" name="person-circle-outline"></ion-icon></ion-menu-button>
      </ion-buttons>
      <!-- <ion-title>Inbox</ion-title> -->
      <ion-buttons class="center">
        <ion-button class="bluecolor width100">
          <ion-icon class="large" name="logo-twitter"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon class="large" name="sparkles-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <div>
    <ion-card class="card" style="border-bottom: solid 1px;">
      <ion-row>
        <ion-col size="2">
          <ion-avatar>
            <ion-icon class="card-image" name="person"></ion-icon>
          </ion-avatar>
        </ion-col>
        <ion-col size="10">
            <div class="px16">
              <span class="bold">
                Rohit Sharma
              </span>
                @ImRo45
              <spna>
                .4d
              </spna>
              <span>
                <ion-icon style="float: right;" name="ellipsis-vertical-outline"></ion-icon>
              </span>
            </div>
            <p class="px16">
              Every single one of us wanted this win, you could see it
              you could feel it and watching it play out was incredible.
            </p>
            <img src="../../../assets/rohit.jpeg" class="round">
            <ion-row>
              <ion-col size="3"><ion-icon style="vertical-align: middle;" class="px20" name="chatbubble-outline"></ion-icon>
                <span>336</span>
              </ion-col>
              <ion-col size="3"><ion-icon style="vertical-align: middle;" class="px20" name="repeat-outline"></ion-icon>
                3,358
              </ion-col>
              <ion-col size="3"><ion-icon style="vertical-align: middle;" class="px20" name="heart-outline"></ion-icon>39.5K</ion-col>
              <ion-col size="3"><ion-icon style="vertical-align: middle;" class="px20" name="share-social-outline"></ion-icon></ion-col>
            </ion-row>
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-card class="card" style="border-bottom: solid 1px;">
      <ion-row>
        <ion-col size="2">
          <ion-avatar>
            <ion-icon class="card-image" name="person"></ion-icon>
          </ion-avatar>
        </ion-col>
        <ion-col size="10">
            <div class="px16">
              <span class="bold">
                Rohit Sharma
              </span>
                @ImRo45
              <spna>
                .4d
              </spna>
              <span>
                <ion-icon style="float: right;" name="ellipsis-vertical-outline"></ion-icon>
              </span>
            </div>
            <p class="px16">
              Every single one of us wanted this win, you could see it
              you could feel it and watching it play out was incredible.
            </p>
            <img src="../../../assets/rohit.jpeg" class="round">
            <ion-row>
              <ion-col size="3"><ion-icon style="vertical-align: middle;" class="px20" name="chatbubble-outline"></ion-icon>
                <span>336</span>
              </ion-col>
              <ion-col size="3"><ion-icon style="vertical-align: middle;" class="px20" name="repeat-outline"></ion-icon>
                3,358
              </ion-col>
              <ion-col size="3"><ion-icon style="vertical-align: middle;" class="px20" name="heart-outline"></ion-icon>39.5K</ion-col>
              <ion-col size="3"><ion-icon style="vertical-align: middle;" class="px20" name="share-social-outline"></ion-icon></ion-col>
            </ion-row>
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-card class="card" style="border-bottom: solid 1px;">
      <ion-row>
        <ion-col size="2">
          <ion-avatar>
            <ion-icon class="card-image" name="person"></ion-icon>
          </ion-avatar>
        </ion-col>
        <ion-col size="10">
            <div class="px16">
              <span class="bold">
                Rohit Sharma
              </span>
                @ImRo45
              <spna>
                .4d
              </spna>
              <span>
                <ion-icon style="float: right;" name="ellipsis-vertical-outline"></ion-icon>
              </span>
            </div>
            <p class="px16">
              Every single one of us wanted this win, you could see it
              you could feel it and watching it play out was incredible.
            </p>
            <img src="../../../assets/rohit.jpeg" class="round">
            <ion-row>
              <ion-col size="3"><ion-icon style="vertical-align: middle;" class="px20" name="chatbubble-outline"></ion-icon>
                <span>336</span>
              </ion-col>
              <ion-col size="3"><ion-icon style="vertical-align: middle;" class="px20" name="repeat-outline"></ion-icon>
                3,358
              </ion-col>
              <ion-col size="3"><ion-icon style="vertical-align: middle;" class="px20" name="heart-outline"></ion-icon>39.5K</ion-col>
              <ion-col size="3"><ion-icon style="vertical-align: middle;" class="px20" name="share-social-outline"></ion-icon></ion-col>
            </ion-row>
        </ion-col>
      </ion-row>
    </ion-card>
    <ion-card class="card" style="border-bottom: solid 1px;">
      <ion-row>
        <ion-col size="2">
          <ion-avatar>
            <ion-icon class="card-image" name="person"></ion-icon>
          </ion-avatar>
        </ion-col>
        <ion-col size="10">
            <div class="px16">
              <span class="bold">
                Rohit Sharma
              </span>
                @ImRo45
              <spna>
                .4d
              </spna>
              <span>
                <ion-icon style="float: right;" name="ellipsis-vertical-outline"></ion-icon>
              </span>
            </div>
            <p class="px16">
              Every single one of us wanted this win, you could see it
              you could feel it and watching it play out was incredible.
            </p>
            <img src="../../../assets/rohit.jpeg" class="round">
            <ion-row>
              <ion-col size="3"><ion-icon style="vertical-align: middle;" class="px20" name="chatbubble-outline"></ion-icon>
                <span>336</span>
              </ion-col>
              <ion-col size="3"><ion-icon style="vertical-align: middle;" class="px20" name="repeat-outline"></ion-icon>
                3,358
              </ion-col>
              <ion-col size="3"><ion-icon style="vertical-align: middle;" class="px20" name="heart-outline"></ion-icon>39.5K</ion-col>
              <ion-col size="3"><ion-icon style="vertical-align: middle;" class="px20" name="share-social-outline"></ion-icon></ion-col>
            </ion-row>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
</ion-content>
