  <ion-header>
    <ion-toolbar >
      <ion-buttons slot="start">
        <ion-menu-button class="bluecolor"></ion-menu-button>
      </ion-buttons>
      <!-- <ion-title>Inbox</ion-title> -->
      <ion-buttons class="center">
        <ion-button class="bluecolor width100">
          <ion-icon name="logo-twitter"></ion-icon>
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button class="bluecolor">
          <ion-icon name="sparkles-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

<ion-content>
  <h1>Hello First Page</h1>
</ion-content>
