<ion-menu side="start" menuId="first" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-icon style="margin-top:10px; margin-left:20px; color: gray; background-color: lightgray; font-size: 64px; border-radius: 100px;" name="person"></ion-icon>

      <ion-item class="ion-no-padding" lines="none">
      <ion-title class="bold">Your Name
        <br>
        <ion-text style="font-weight: 100; font-size: medium;" class="ion-no-padding">@yourid</ion-text>
      </ion-title>
      <ion-icon (click)="k=!k" color="primary" slot=end name="chevron-down-outline"></ion-icon>
      </ion-item>
      <br>
      <ion-text>
        <span class="bold" style="margin-left: 20px;">42</span> Following <span class="bold" style="margin-left: 20px;">0</span> Followers
      </ion-text>
      <br><br>
    </ion-toolbar>
  </ion-header>
  <ion-content [hidden]="k">
    <ion-list>
      <ion-item lines="none">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-label>Profile</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-icon name="reader-outline" slot="start"></ion-icon>
        <ion-label>Lists</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-icon name="chatbubble-outline" slot="start"></ion-icon>
        <ion-label>Topics</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-icon name="bookmark-outline" slot="start"></ion-icon>
        <ion-label>Bookmarks</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-icon name="flash-outline" slot="start"></ion-icon>
        <ion-label>Moments</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-icon name="star-outline" slot="start"></ion-icon>
        <ion-label>Monetisation</ion-label>
      </ion-item>
    </ion-list>
    <hr style="border-bottom: 1px; border-style: solid; color: gray">
    <ion-list>
      <ion-item lines="none">
        <ion-label>Settings and privacy</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Help Centre</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-content [hidden]="!k">
    <ion-list>
      <ion-item class="bluecolor">
        <ion-label>Create a new account</ion-label>
      </ion-item>
      <ion-item class="bluecolor">
        <ion-label>Add an existing account</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
  <ion-footer [hidden]="k">
    <ion-item>
      <ion-icon name="bulb-outline" slot="start"></ion-icon>
      <ion-icon name="qr-code-outline" slot=end></ion-icon>
    </ion-item>
  </ion-footer>
</ion-menu>

<div class="ion-page" id="main-content">

  <ion-content class="ion-padding">
    <!-- <ion-button expand="block" onclick="openMenu()">Open Menu</ion-button> -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed" class="padrb10" (click)="hideTweet()">
      <div><span style="position: absolute; margin-left: -100%;margin-top: 30%; text-align: right;"><span *ngIf="hide">Tweet</span></span>
        <ion-fab-button close-icon="pencil">
          <ion-icon name="add" size="large"></ion-icon>
        </ion-fab-button>
      </div>
      <ion-fab-list side="top">
        <!-- <div><span style="position: absolute; margin-left: -120%;margin-top: 30%; text-align: right;">Tweet</span>
          <ion-fab-button color="light">
            <ion-icon name="pencil" class="bluecolor" size="large"></ion-icon>
          </ion-fab-button>
        </div> -->
        <div><span style="position: absolute; margin-left: -80%;margin-top: 30%; text-align: right;">Gif</span>
          <ion-fab-button color="light" size="small">
            <ion-icon name="videocam-outline" class="bluecolor" size="large"></ion-icon>
          </ion-fab-button>
        </div>
        <div><span style="position: absolute; margin-left: -130%;margin-top: 30%; text-align: right;">Photos</span>
          <ion-fab-button color="light" size="small">
            <ion-icon name="image-outline" class="bluecolor" size="large"></ion-icon>
          </ion-fab-button>
        </div>
        <div><span style="position: absolute; margin-left: -130%;margin-top: 30%; text-align: right;">Spaces</span>
          <ion-fab-button color="light" size="small">
            <ion-icon name="barcode-outline" class="bluecolor" size="large"></ion-icon>
          </ion-fab-button>
        </div>
      </ion-fab-list>
    </ion-fab>
  </ion-content>

  <ion-tabs>

    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="firstpage">
        <ion-icon name="home-outline"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button tab="search">
        <ion-icon name="search-outline"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button tab="notifications">
        <ion-icon name="notifications-outline"></ion-icon>
      </ion-tab-button>
  
      <ion-tab-button tab="messages">
        <ion-icon name="mail-outline"></ion-icon>
      </ion-tab-button>
    </ion-tab-bar>
    
  </ion-tabs>

</div>
